.container {
  background-color: #FBEFF3;
}


.hero {
  background-color: #B58AD8;
  color:#9B72CF;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
  color:#875DBF;
}

.hero p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #4A4A4A;
}


.section {
  padding: 70px 10%;
  text-align: center;
}

.section h2 {
  color: #a855f7;
  margin-bottom: 20px;
}

.cardsSection {
  padding: 70px 10%;
  text-align: center;
  background: #E8C5D0;
}
.cardsSection h2{
  color: #875DBF;

}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  width: 280px;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #875DBF;
  margin-bottom: 10px;
}


.list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.list li {
  margin: 10px 0;
}


.cta {
  background: #B58AD8;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.cta button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: white;
  color: #a855f7;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.cta button:hover {
  transform: scale(1.05);
}